mixin storage()
	+b.SECTION.storage
		+e.wrapper.container
			+e.H2.title Стоматологическая молодость на всю жизнь
			+e.list
				+e.item
					+e.item-title Cканирование одного зуба с пожизненным хранением на платформе Dental Bank
					+e.item-cost 350 ₽
				+e.item
					+e.item-title Сканирование одной челюсти с пожизненным хранением на платформе Dental Bank
					+e.item-cost 1 000 ₽
				+e.item
					+e.item-title Полное сканирование всех зубов и прикуса с пожизненным хранением на платформе Dental Bank
					+e.item-cost 2 500 ₽

