mixin form()
	// start form
	+b.FORM.form#form
		+e.LABEL.input-wrapper
			+e.INPUT.input--phone(type='phone' placeholder='Введите номер телефона')
			+icon('phone')
		+e.BUTTON.button Получить консультацию о процедуре

	// end form
