mixin form()
	// start form
	+b.FORM.form(action='form.php')
		+e.LABEL.input-wrapper
			+e.INPUT.input--phone.phone-mask(type='phone' name='phone' placeholder='Введите номер телефона' required)
			+icon('phone')
		+e.BUTTON.button Получить консультацию о процедуре

	// end form
