mixin age()
	+b.SECTION.age
		+e.top
			+e.wrapper
				+e.content-wrapper
					+e.H2.tiele В каком возрасте будет актуально сканирование
					p Рекомендованный возраст для полного сканирования зубов - 20-21 год. К этому возрасту окончательно формируется весь зубочелюстной аппарат, и мы сможем получить его эталонную цифровую модель. Именно она на протяжении всей жизни позволит восстанавливать ваши разрушенные зубы их абсолютными копиями.
				+e.img-wrapper
					+e.IMG.img-one(src='img/4.jpg' alt='img')

		+e.bottom
			+e.wrapper
				+e.content-wrapper
					p Сохранив 3-d модели отдельных зубов в детском возрасте, мы сможем полноценно восстановить разрушенный зуб ребенка его абсолютной копией, и избежать деформаций зубочелюстного аппарата в процессе его формирования. В случае если потребуется ортодонтическая коррекция - провести ее. Действуя таким образом, к 21 году мы получим зубочелюстной аппарат в состоянии максимальной гармонии, цифровую модель которого и сохраним на всю жизнь в Dental Bank.
				+e.img-wrapper
					+e.IMG.img-one(src='img/5.jpg' alt='img')
