.age {
  margin-bottom: 150px;
  &__top{
    background: #E8EDF0;
    padding-top: 30px;
    p{
      margin-bottom: 37 px;
    }
  }
  &__bottom{
    padding-top: 30px;
    background: #FFAFBA;
  }

}
