mixin main-nav()

	+b.NAV.main-nav
		+e.BUTTON.close.nav-toggle
		+e.UL.list
			+e.LI.item
				+e.A.link(href='#')  Почему
			+e.LI.item
				+e.A.link(href='#')  Как это работает
			+e.LI.item
				+e.A.link(href='#')  Возраст
			+e.LI.item
				+e.A.link(href='#')  Отзывы
			+e.LI.item
				+e.A.link(href='#')  Записаться
		+e.callback-wrapper
			+e.A.callback(href='tel:+79876543210')
				+icon('phone')
				| +7 987 654 32 10
			+e.A.form-link.scroll(href='#callback') Получить консультацию
