mixin main-nav()

	+b.NAV.main-nav
		+e.BUTTON.close.nav-toggle
		+e.UL.list
			+e.LI.item
				+e.A.link.scroll(href='#why')  Почему
			+e.LI.item
				+e.A.link.scroll(href='#history')  Как это работает
			+e.LI.item
				+e.A.link.scroll(href='#age')  Возраст
			+e.LI.item
				+e.A.link.scroll(href='#experts')  Отзывы
			+e.LI.item
				+e.A.link.scroll(href='#callback')  Записаться
		+e.callback-wrapper
			+e.A.callback(href='tel:+79876543210')
				+icon('phone')
				| +7 987 654 32 10
			+e.A.form-link.scroll(href='#callback') Получить консультацию
