mixin  history-slider(arr)
	+e.slider
		.swiper-container
			.swiper-wrapper
				each item in arr
					.swiper-slide
						+e.slide-img(src='img/' + item alt='img')

mixin history()
	+b.SECTION.history#history
		+e.wrapper.container
			+e.H2.title Стоматологическая молодость на всю жизнь
			+e.subtitle  Как это работает
			p  Допустим, вы сохранили цифровые копии ваших здоровых зубов в Dental Bank, а спустя какое-то время,  вам потребовалось поставить искусственные коронки
			+history-slider(['slider1/1.jpg', 'slider1/2.jpg', 'slider1/3.jpg'])
			p Врач препарирует больные зубы, затем сканирует их и отправляет сканы в Dental Bank.
			+history-slider(['slider2/4.jpg', 'slider2/5.jpg', 'slider2/6.jpg'])
			p В специальной программе мы совмещаем модели здоровых и обточенных зубов
			+history-slider(['slider3/7.jpg', 'slider3/8.jpg', 'slider3/9.jpg'])
			p После чего программа в автоматическом режиме создает новый объект, ту самую идеальную коронку, у которой внутренняя поверхность соответствует обточенному зубу, а наружняя - здоровому
			+history-slider(['slider4/10.jpg', 'slider4/11.jpg', 'slider4/12.jpg'])
			p Это значит, что она четко встанет на необходимое место во рту и ее форма и положение в зубном ряду полностью повторят ваш собственный зуб до того, как он заболел и разрушился. Далее полученный файл отправляется на фрезерный станок с числовым программным управлением, где в автоматическом режиме, с точностью до 10 мкм вытачивается ваша коронка. Вся работа выполняется компьютером, поэтому здесь нет места для ошибки и так называемого человеческого фактора. Готовая коронка отправляется вашему стоматологу, который фиксирует ее во рту.


