mixin experts()
	+b.SECTION.experts#experts
		+e.wrapper.container
			+e.H2.title Эксперты говорят о необходимости Банка Зубов
			+e.slider
				.swiper-container
					.swiper-button-prev
					.swiper-wrapper
						.swiper-slide
							+e.feedback
								+e.feedback-left
									+e.H3.name Валерий Леонтьев
									+e.post Российская академия медицинских наук (г. Москва, Российская Федерация) Лариса Ломиашвили, Дмитрий Погадаев, Сергей Вайц кафедра терапевтической стоматологии Омской государственной медицинской академии (г. Омск, Российская Федерация)
									+e.P.text   Последствия кариозного разрушения зубов коварны и необратимы. Зуб как орган перестает существовать. Нет формы, а значит, нет и функции, а значит, и нет всей последующей системы хорошего качества жизни. При оказании врачебной помощи пациентам стоматологи не только восстанавливают утраченные формы, но и выступают с более глубоким подходом к пациенту, с миссией восстановления зуба как органа. При грамотном моделировании правильных анатомических форм зубов возобновляется его связь с другими органами и системами, в организме восстанавливается генетическая память утраченных зубов и он начинает функционировать как единый механизм, где все взаимосвязано и взаимообусловлено. Очень важно максимально корректно подходить к вопросу восстановления зубочелюстного аппарата, с учетом индивидуальных особенностей организма. Поэтому создание банка данных о состоянии зубочелюстной системы может быть новым подходом к повышению эффективности лечения в стоматологии.
								+e.feedback-right
									+e.IMG.img(src='img/certificate/1.jpg' alt='img')
									+e.video-link-wrapper
										+e.A.video-link(href='http://dentart.org/?p=1194') СТАТЬЯ
						.swiper-slide
							+e.feedback
								+e.feedback-left
									+e.H3.name Татьяна Ивановна Саликова
									+e.post Врач-дерматовенеролог, врач косметолог, кандидат медицинских наук. Создатель и собственник клиники “Revital”.
									+e.P.text В первую очередь хочу отметить, что врачи-косметологи в настоящее время оценивают процесс старения лица комплексно. Это лет 15 назад мы лечили только морщины, а сейчас понимаем, что стареет не только кожа, но и мягкие ткани под ней. Опорой для них в свою очередь является зубочелюстной аппарат, который также подвергается возрастным изменениям. И совершенно естественно, что проблемы с зубами в виде нарушения прикуса напрямую влияют на лицо человека. Отсутствие опоры способствует более выраженному смещению мягких тканей, и, соответственно, более раннему появлению складок и нарушению Овала лица. Я думаю, что стоматологическая молодость позволит замедлить многие возрастные проявления. Ведь восстановить зубы - хорош, но важно это сделать именно правильно. На своих приемах я очень часто вижу последствия некорректного протезирования зубов, нарушающего всю анатомию лица. Это может вызвать гипертонус мышц нижней трети лица, что визуально выглядит как расширение нижней челюсти, опущение углов рта и нарушение овала лица. Данные проявления делают лицо негармоничным и визуально старше. Это если говорить об эстетике. Но еще могут появиться и неврологические проявления, такие как головная боль, которые влияют на социальную активность человека.
								+e.feedback-right
									+e.IMG.img(src='img/certificate/1.jpg' alt='img')
									+e.video-link-wrapper
										//+e.A.video-link(href='http://dentart.org/?p=1194') СТАТЬЯ
						.swiper-slide
							+e.feedback
								+e.feedback-left
									+e.H3.name Антон Лукьянов.
									+e.post Директор клиники “Анатомия здоровья”, детский хирург, травматолог-ортопед, мануальный терапевт, остеопат, инструктор оздоровительной гимнастики. Прошел повышение квалификации по организации здравоохранения и общественного здоровья, по кинезиотейпированию, имеет патенты на собственные ортопедические изделия.
									+e.P.text   Как часто бывало раньше — пациенту ставят пломбу и говорят: «Чуть-чуть потерпи и привыкнешь». На самом деле этого не происходит, так как тело начинает искажаться в плоскости. Положение челюсти меняется, и это вызывает какие-то другие серьезные процессы. Скажем, лечили верхний зуб и придали ему неправильную форму. Соответственно, стык в стык не будет уже зуб на зуб идти — жевательная функция нарушится. Будут перегружаться мышцы, и в итоге верхняя челюсть по отношению к нижней будет поворачиваться. Все 22 кости черепа подвижны, все двигаются и должны подстроиться под процесс жевания. И на секундочку, жевательные мышцы выдерживают, по-моему, 600 кг нагрузки, и вы представьте, что они могут наделать с нашим скелетом. Поедет всё. Нижняя и верхняя челюсти связаны с клиновидной костью — это базис нашего тела, где находятся основание черепа, гипофиз и т. д. Тогда через механизмы натяжения твердой мозговой оболочки будут проявляться всевозможные неврологические нарушения. Головная боль, боль в суставах — прежде всего, боль в ухе, головокружение, сердцебиение и прочее. Почему сердцебиение может появиться — если череп у нас будет искажаться, поворачиваться по оси во всех костях, то нужно учесть, что эти зоны отвечают за расположение кивательных и лестничных мышц. Последние как раз стабилизируют шейный отдел. А вот в их промежутке проходит блуждающий нерв. Если он будет сдавливаться, то вы получите отсутствие нормальной работы какого-то органа. И вот вам начало негативного процесса. А дальше и скелет поедет. Орган будет влиять на мышцу, например, на четырехглавую бедра — она перестанет работать, бицепс будет в гипертонусе, и все пойдет по нарастающей. Изменение челюсти приводит к проблемам с осанкой, к искривлению всего позвоночника, но прежде всего изменится основание черепа — это спинной мозг и позвоночный ствол. В нем находятся всевозможные зоны, которые контролируют дыхание, сердцебиение и прочие системы. В итоге человек может лечить постфактум боль в колене, голеностопе, тазобедренном суставе. Мало того, страдают и кишечник, и желудок и т. д. То есть речь сейчас не только о скелете.
								+e.feedback-right
									+e.IMG.img(src='img/certificate/1.jpg' alt='img')
									+e.video-link-wrapper
										//+e.A.video-link(href='http://dentart.org/?p=1194') СТАТЬЯ
					.swiper-button-next
					.swiper-pagination

