mixin experts()
	+b.SECTION.experts#experts
		+e.wrapper.container
			+e.H2.title Эксперты говорят о необходимости Банка Зубов
			+e.slider
				.swiper-container
					.swiper-button-prev
					.swiper-wrapper
							- for (var x = 0; x < 5; x++)
									.swiper-slide
										+e.feedback
											+e.feedback-left
												+e.H3.name Иван Иванов
												+e.post профессия, Должность
												+e.P.text   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
											+e.feedback-right
												+e.IMG.img(src='img/certificate/1.jpg' alt='img')
												+e.video-link-wrapper
													+e.A.video-link(href='#') смотреть видеоотзыв
					.swiper-button-next
					.swiper-pagination

