mixin video-block()
	+b.SECTION.video-block
		+e.wrapper.container
			+e.video-wrapper
				<iframe  src="https://www.youtube.com/embed/IeVo3uZG06w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			+form()
