mixin header()
	+b.HEADER.header
		+e.wrapper.container
			+e.BUTTON.burger.nav-toggle
				span
			+e.A.logo-link(href='/')
				+e.IMG.logo(src='img/logo.svg' alt='header-logo' width='65')
			+main-nav()
			+e.callback-wrapper
				+e.A.callback-link(href='tel:83822400003')
					+icon('phone')
					span 8(3822) 400-003
				+e.A.consult-link.scroll(href='#callback') Получить консультацию
