mixin video-slider()
	+b.SECTION.video-slider
		+e.wrapper.container
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						+e.wideo-wrapper
						+e.H4.title Название видео #1
					.swiper-slide
						+e.wideo-wrapper
						+e.H4.title Название видео #1
					.swiper-slide
						+e.wideo-wrapper
						+e.H4.title Название видео #1

