mixin video-slider()
	+b.SECTION.video-slider
		+e.wrapper.container
			+e.H2.title Отзывы наших клиентов
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						+e.wideo-wrapper
							<iframe src="https://www.youtube.com/embed/Bj_p3tbrXWY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						+e.H4.slide-title Dental Bank. Отзыв 2
					.swiper-slide
						+e.wideo-wrapper
							<iframe  src="https://www.youtube.com/embed/1VRqgJNB49Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						+e.H4.slide-title Dental Bank. Отзыв 1


