.footer {
  background-color: #F2F2F2;
  padding-top: 29px;
  padding-bottom: 25px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 24px;
  }

  &__copyright {
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    opacity: .7;
  }

  &__callback {
    .icon {
      margin-right: 5px;
    }

    font-size: 14px;
    line-height: 150%;
    margin-bottom: 2px;
    color: #000000;
  }
  &__form-link{
    color: #FF0080;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    line-height: 150%;
    position: relative;
    &:before{
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      border-bottom: 1px dashed #FF0080;
      bottom: 0;
    }
  }
  &__company-info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    opacity: .7;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 100%;
    justify-content: space-between;
    span{
      width: auto;
      text-align: center;
    }
  }
  @include media-breakpoint-up(md){
    padding-top: 38px;
    padding-bottom: 38px;
    &__wrapper{
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }
    &__logo{
      margin-right: 117px;
      width: 100px;
      margin-bottom: 0;
    }
    &__copyright{
      flex-grow: 1;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 0;
    }
    &__callback{
      margin-right: 49px;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 0;
    }
    &__form-link{
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
    }
    &__company-info{
      justify-content: flex-end;
      span{
        width: auto;
        text-align: center;
        margin-left: 15px;
      }
    }
  }
}
