mixin footer()
	+b.FOOTER.footer
		+e.wrapper.container
			+e.logo-wrapper
				+e.IMG.logo(src='img/logo.svg' alt='footer-logo' width='100')
			+e.copyright 2020 | Все права защищены
			+e.A.callback(href='tel:83822400003')
				+icon('phone')
				| 8(3822) 400-003
			+e.A.form-link.scroll(href='#callback') Получить консультацию

