.callback {
  padding-bottom: 42px;
  &__title{
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }
  &__img-wrapper{
    display: flex;
    margin-bottom: 41px;
  }
  &__img-one{
    padding-right: 3px;
  }
  &__img-two{
    padding-left: 3px;
  }

}
