@font-face {
  font-family: 'Circe';
  src: url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
