mixin map()
	+b.SECTION.map-block
		+e.wrapper
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af55eb245fbae45781e781b4a2738d306f4f3f780d5798a137439eb18314214e3&amp;source=constructor" frameborder="0"></iframe>
