mixin functional()
	+b.SECTION.functional
		+e.wrapper
			+e.content-wrapper
				+e.h3.decor
				p Изменение формы и расположения зубов при их лечении или протезировании неизбежно вызывает деформацию зубочелюстного аппарата. Меняется положение челюстей, это в свою очередь приводит к изменению тонуса жевательных мышц, деформациям черепа, который состоит из 22 подвижных костей, появлению морщин и изменению овала лица, возрастанию нагрузки на основание черепа, искривлению позвоночника  и, как следствие, дополнительному давлению на спинной мозг.
				p Проблема деформаций, приобретенных вследствие стоматологического лечения, обусловлена тем, что у современных стоматологов нет соответствующего инструмента для воссоздания абсолютных копий утраченных зубов, именно это делает проект Dental Bank уникальным во всем мире.
				p Мы предлагаем оцифровать ваши зубы в состоянии максимальной гармонии и сохранить полученные 3-d модели в личном кабинете на платформе Dental Bank. Эта информация позволит вам и вашему стоматологу на протяжении всей жизни восстанавливать правильную форму ваших зубов в случае их разрушения или утраты, тем самым сохраняя эстетику ваших зубов, замедляя процессы старения вашего лица и предотвращая все скелетные деформации, вызванные нарушениями прикуса.
			+e.img-wrapper
				+e.IMG.img(src='img/3.jpg' alt='img')
