.why {
  background: #D8DCDB;
  padding-bottom: 30px;
  padding-top: 82px;
  position: relative;

  &__title {
    position: absolute;
    top: 33px;
    padding-right: 20px;
  }

  &__img-wrapper {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 0;
    padding-top: 0;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__title {
      font-weight: bold;
      font-size: 34px;
      line-height: 140%;
      position: static;
    }
    &__subtitle {
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 24px;
    }
    &__img-wrapper {
      width: 50%;
      margin-bottom: 0;
      height: 50vw;
      max-height: 783px;
      position: relative;
      img{
        max-height: 100%;
        width: auto;
      }
    }
    &__content-wrapper {
      width: 50%;
      padding-right: 90px;
    }
  }
}
