mixin why()
	+b.SECTION.why
		+e.wrapper.container
			+e.img-wrapper
				+e.IMG.img(src='img/2.jpg' alt='img')
			+e.content-wrapper
				+e.H2.title Почему так важно иметь точную копию ваших зубов
				+e.H3.subtitle.decor Эстетический аспект
				p  Современные взгляды на эстетику в стоматологии основаны на абсолютной естественности и натуральности. Искусственная коронка должна быть неотличима от живого зуба, а поэтому полностью повторять её форму, цвет, прозрачность,рельеф. Высокоэстетичные искусственные коронки должны создавать иллюзию собственных живых зубов. Поэтому в эстетическом плане, возможность произвести абсолютную копию утраченного зуба особенно актуальна.
