.information {
  position: relative;
  margin-bottom: 30px;
  &__title{
    position: absolute;
    max-width: 60vw;
    top: 20px;
  }
  &__img-wrapper{
    margin-right: -20px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
}
